%btn-primary {
    cursor: pointer;
    padding: 8px 16px;
    display: block;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    font-size: calc(0.4rem + 0.8vw);

    &:hover {
        background-color: black;
        color: white;
    }
}

%btn-page-transition {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em 0 0.5em;

    &-icon {
        cursor: pointer;
        background-color: wheat;
        border-radius: 40px;
        box-shadow: 5px 10px 10px rgb(0, 0, 0 / 70%);
        border: 3px solid wheat;
        opacity: 0.7;
        animation: in 0.5s;
        height: calc(15px + 3vw);
        width: calc(15px + 3vw);

        // @media only screen and (max-width: 1000px) {
        //     width: 40px;
        //     height: 40px;
        // }

        &-left {
            transform: rotate(180deg);
            box-shadow: -5px -10px 10px black;
        }

        &:hover {
            border: 6px solid wheat;
            opacity: 1;
            animation: out 0.5s;
        }
    }

    &-hide {
        width: 91px;
    }
}

%page-container {
    font-size: calc(8px + 0.3vw);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

%page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

%page-title {
    font-size: 4em;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 5px 15px 30px #0e0e0e91;
    width: fit-content;
    margin: 0.3em 0 0.3em 0;
    padding: 0.2em 0.4em;
    border: 4px #483b23 solid;
    background-color: #c0a291e6;
}

%page-text {
    font-size: calc(0.5em + 0.8vw);
    color: wheat;
    text-shadow: 3px 3px 20px black;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    text-align: center;
    user-select: none;

    &-left {
        left: calc(7px + 5vw);

        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }

    &-right {
        right: calc(7px + 5vw);

        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }
}

@keyframes out {
    0% {
        border: 3px solid wheat;
        opacity: 0.7;
    }

    100% {
        border: 6px solid wheat;
        opacity: 1;
    }
}

@keyframes in {
    0% { 
        border: 6px solid wheat;
        opacity: 1;
    }

    100% {
        border: 3px solid wheat;
        opacity: 0.7;
    }
}