@import './variables';

.login {
    margin: calc(0.5em + 0.7vw);
    font-size: calc(0.5rem + 0.5vw);

    &__form {
        margin-bottom: 0.5em;

        input {
            margin: 0.8em 0;
            font-size: 1rem;
            padding: 10px;
            width: 50%;
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
            border: none;
            outline: none;
            border-radius: 10px;
        }
    }

    h1 {
        margin-bottom: 1em;
    }

    &__button {
        @extend %btn-primary;
        font-size: 1.3rem;
        margin: calc(0.3em + 0.3vw) auto;
    }

    &__buttons {
        width: 40%;
        margin: 0 auto;
        display: flex;
    }

    &__register {
        margin-top: 2em;
    }

    &__alert {
        margin-top: 1.5em;
        color: #8d2929;
        opacity: 0;
        transition: opacity 0.3s ease-in;
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;
        user-select: none;

        &Show {
            opacity: 1;
        }

        &Register {
            color: #481313;
            margin: 1em 0 0.2em 0;
        }
    }
}