@import './variables';

.account {
    @extend %page-container;

    &__title {
        @extend %page-title;

        &Animation {
            animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    &__subpage {
        font-size: 1.8rem;
        opacity: 0.6;
        font-style: italic;
        cursor: pointer;
        transition: 0.5s all;
        user-select: none;
        margin: 0 0.5em;
        display: flex;
        align-items: center;

        &:hover {
            letter-spacing: 2px;
            text-shadow: 3px 3px 20px black;
            opacity: 1;
        }

        &Selected {
            font-size: 2.3rem;
            opacity: 1;
        }
    }

    &__icon {
        width: calc(20px + 2vw);
        height: calc(20px + 2vw);
    }

    &__details {
        padding: 1.5em 2em;
        border: 4px #483b23 solid;
        background-color: #c0a2919e;
        margin-top: 1em;
        box-shadow: 5px 15px 30px #0e0e0e91;
        font-size: calc(0.8rem + 0.4vw);
        letter-spacing: 1px;

        h2 {
            letter-spacing: 1px;
            margin-top: 0.5em;
        }

        h3 {
            margin-top: 0.1em;
            padding: 0.3em;
            border: 4px #483b23 solid;
            background-color: #c0a2919e;
            box-shadow: 5px 15px 30px #0e0e0e91; 
        }
    }

    &__button {
        @extend %btn-primary;
        margin: 1em auto 0 auto;
    }

    &__pageBtn {
        @extend %btn-page-transition;

        &Icon {
            @extend %btn-page-transition-icon;

            &Left {
                @extend %btn-page-transition-icon-left;
            }
        }

        &Hide {
            @extend %btn-page-transition-hide;
        }

        &Panel {
            display: contents;
        }
    }

    &__content {
        @extend %page-content;
        width: 100%;

        &Wrapper {
            width: fit-content;
        }
    }

    &__wrapper {
        text-align: center;
        width: 80%;
    }

    &__pageButtons {
        display: flex;
        align-items: center;
    }

    &__pageTextLeft, &__pageTextRight {
        @extend %page-text;
    }

    &__pageText {
        &Left {
            @extend %page-text-left;
        }

        &Right {
            @extend %page-text-right;
        }
    }

    &__pageBtnIconRight:hover +  &__pageTextRight,
    &__pageBtnIconLeft:hover +  &__pageTextLeft {
        opacity: 1;
    }
}

@keyframes tilt-in-fwd-tl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}