@import './variables';

.reservations {
    @extend %page-container;

    &__title {
        @extend %page-title;
    }

    &__calendar {
        width: 60vw !important;
        border-radius: 10px;
        margin: 0 auto;
    }

    &__table {
        
    }

    &__wrapper {
        padding: 1em;
    }

    &__content {
        @extend %page-content;
    }

    &__pageBtn {
        @extend %btn-page-transition;

        &Icon {
            @extend %btn-page-transition-icon;

            &Left {
                @extend %btn-page-transition-icon-left;
            }
        }

        &Hide {
            @extend %btn-page-transition-hide;
        }
    }

    &__pageTextLeft, &__pageTextRight {
        @extend %page-text;
    }

    &__pageText {
        &Left {
            left: 90px;
        }

        &Right {
            right: 90px;
        }
    }

    &__pageBtnIconRight:hover +  &__pageTextRight,
    &__pageBtnIconLeft:hover +  &__pageTextLeft {
        opacity: 1;
    }
}