@import './variables';

.reservations {
    @extend %page-container;

    &__title {
        @extend %page-title;
    }

    &__wrapper {
        padding: 1em;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }

    &__content {
        @extend %page-content;
    }

    &__pageBtn {
        @extend %btn-page-transition;

        &Icon {
            @extend %btn-page-transition-icon;

            &Left {
                @extend %btn-page-transition-icon-left;
            }
        }

        &Hide {
            @extend %btn-page-transition-hide;
        }
    }

    &__pageTextLeft, &__pageTextRight {
        @extend %page-text;
    }

    &__pageText {
        &Left {
            @extend %page-text-left;
        }

        &Right {
            @extend %page-text-right;
        }
    }

    &__pageBtnIconRight:hover +  &__pageTextRight,
    &__pageBtnIconLeft:hover +  &__pageTextLeft {
        opacity: 1;
    }

    &__table {
        position: relative;
    }

    &__button {
        @extend %btn-primary;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

div.reservations__calendar {
    font-size: calc(0.5rem + 0.5vw);
    width: 70vw;
    border: 4px #483b23 solid;
    background-color: #bbbfbeba;;
}

div.reservations__table {
    width: 70vw;
    border: 4px #483b23 solid;
    margin-top: 2em;
}

div.reservations__table div {
    background-color: #c0a291e0;
}

div.reservations__table div > div > span {
    display: none;
}

div.reservations__table table {
    font-size: calc(0.5rem + 0.4vw);
    background-color: #c0a291e0;
}

div.reservations__table table thead tr th {
    font-size: calc(0.5rem + 0.7vw);
    background-color: #c0a291e0;
    z-index: 0;
}

span.MuiIcon-fontSizeSmall {
    width: fit-content;
}

div.reservations__table div > h6 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.3rem;
}

div.reservations__table div > button > span > span {
    width: fit-content;
    display: flex;
    align-items: center;
    visibility: hidden;

    &::after {
        content: 'x';
        position: absolute;
        right: 40%;
        top: 15%;
        visibility: visible;
    }
}

div.reservations__table > div > div > div:nth-child(3) {
    width: 25%;
}