div.servicesTable {
    background-color: #c0a291e0;
    width: 90%;
    margin: 2em auto;
    border-top: 4px solid #483b23;
    border-right: 4px solid #483b23;
    border-left: 4px solid #483b23;
    box-shadow: 5px 15px 30px #0e0e0e91;
}

thead.servicesTable__head tr th {
    border-bottom: 4px solid #483b23;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

tbody.servicesTable__body tr {
    border-bottom: 2px solid #483b23;

    & td, th {
        font-size: 1.2rem;
    }
}