@import './variables';

.services {
    @extend %page-container;

    &__title {
        @extend %page-title;

        &Animation {
            animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    &__subpage {
        font-size: 1.8rem;
        opacity: 0.6;
        font-style: italic;
        cursor: pointer;
        transition: 0.5s all;
        user-select: none;

        &:hover {
            letter-spacing: 2px;
            text-shadow: 3px 3px 20px black;
            opacity: 1;
        }
    }

    &__content {
        @extend %page-content;

        &Wrapper {
            width: 100%;
        }
    }

    &__wrapper {
        height: 100vh;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }

    &__pageBtn {
        @extend %btn-page-transition;

        &Icon {
            @extend %btn-page-transition-icon;

            &Left {
                @extend %btn-page-transition-icon-left;
            }
        }
    }

    &__pageTextLeft, &__pageTextRight {
        @extend %page-text;
    }

    &__pageText {
        &Left {
            @extend %page-text-left;
        }

        &Right {
            @extend %page-text-right;
        }
    }

    &__pageBtnIconRight:hover +  &__pageTextRight,
    &__pageBtnIconLeft:hover +  &__pageTextLeft {
        opacity: 1;
    }
}

@keyframes tilt-in-fwd-tl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
  