@import '_variables';

.userInfo {
    position: absolute;
    right: 0;
    margin: calc(0.5em + 0.3vw);
    font-size: calc(0.5rem + 0.3vw);
    background-color: #c0a291e6;
    padding: 1em;
    text-align: center;
    box-shadow: 5px 10px 20px #0e0e0e91;
    border: 4px #483b23 solid;

    &__message {
        padding: 2px;
    }

    &__icon {
        @media only screen and (max-width: 1100px) {
            height: 20px;
        }
    }

    &__button {
        @extend %btn-primary;
        margin: 5px auto 0;
        font-size: calc(0.6rem + 0.2vw);

        @media only screen and (max-width: 1100px) {
            padding: 0.7em;
        }
    }

    @media only screen and (max-width: 1100px) {
        padding: 0.7em;
    }
}